<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>   
<link rel="stylesheet" href="/img/style.css">
    <%- include ('partials/header') %>  <!-- enlace al archivo de header -->

</head>
<body>
    
    
<%- include ('partials/navegacion') %>  <!-- enlace al archivo de navegacion -->
<%- include ('partials/carrousel') %> 


<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d flex flex column"></div>

    <img src="/img/Logoquality.png" alt="" class="w-25">
    <h1 font="Roboto">Quality coin</h1>
</header>

<divm class="Textodiv">


</div>
<p> 

    Quality es un proyecto personal de Token Crypto basado en el lenguaje Solidity, esta diseñado como una moneda capaz de ser libre, segura y en constante desarrollo
</p>


 




    <h1> hello world</h1>
    <%- include ('partials/footer') %>  <!-- enlace al archivo de footer -->
</body>
</html>